.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: var(--jungle-green); /* Added background color */
  color: var(--rich-black-fogra-29); /* Text color */
}

.about-me-avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
  border: 2px solid var(--orange-yellow-crayola); /* Border color */
}
/* Media Query for responsiveness */
@media (max-width: 768px) {
  .about-me, .contact-section, .portfolio-section, .resume-section {
    padding: 10px;
    flex-direction: column;
  }
  .project, .project-content, .contact-form {
    width: 100%;
  }
}

/* Focus styles for accessibility */
button:focus, input:focus, textarea:focus, a:focus {
  outline: 3px solid #0056b3; /* Use your brand color for the outline */
  outline-offset: 2px;
}
