:root {
  --rich-black-fogra-29: #010203; /* Dark background color */
  --orange-yellow-crayola: #f7b32b; /* Accent color for titles and details */
  --burnt-sienna: #ee6c4d; /* Light border color for project cards */
  --brand-outline-color: #0056b3; /* Color for focus outlines */
  --sandy-brown: #f4a261; /* Background color for contact section */
}
.contact-section {
  padding: 20px;
  background-color: var(--sandy-brown); /* Background color for contact section */
  color: var(--rich-black-fogra-29); /* Text color */
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid var(--rich-black-fogra-29); /* Enhance visibility */
}


.contact-form button {
  cursor: pointer;
}
/* Media Query for responsiveness */
@media (max-width: 768px) {
  .about-me, .contact-section, .portfolio-section, .resume-section {
    padding: 10px;
    flex-direction: column;
  }
  .project, .project-content, .contact-form {
    width: 100%;
  }
}

/* Focus styles for accessibility */
button:focus, input:focus, textarea:focus-visible, a:focus-visible {
  outline: 3px solid var #0056b3; /* Use your brand color for the outline */
  outline-offset: 2px;
}
