.resume-section {
  padding: 20px;
  text-align: center;
  background-color: var(--rich-black-fogra-29); /* Background color for the resume section */
  color: var(--orange-yellow-crayola); /* Text color */
}
.resume-section a {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  border: 1px solid #000;
  text-decoration: none;
  background-color: var(--sandy-brown); /* Button background color */
  color: var(--rich-black-fogra-29); /* Button text color */

  .resume-image-container {
  display: flex;
  justify-content: center;
  margin: 20px 0; /* Adjust the margin as needed */
}

.resume-image-container img {
  max-width: 100%; /* Ensure the image is responsive and doesn't overflow */
  height: auto; /* Maintain aspect ratio */
}

}
/* Media Query for responsiveness */
@media (max-width: 768px) {
  .about-me, .contact-section, .portfolio-section, .resume-section {
    padding: 10px;
    flex-direction: column;
  }
  .project, .project-content, .contact-form {
    width: 100%;
  }
}

/* Focus styles for accessibility */
button:focus, input:focus, textarea:focus, a:focus {
  outline: 3px solid #0056b3; /* Use your brand color for the outline */
  outline-offset: 2px;
}
